.obsidian-vault-size-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border-top: 1px solid var(--background-modifier-border);
    background-color: var(--background-secondary);
    z-index: 10;
    box-sizing: border-box;
    user-select: none;
    display: block !important;
}

.obsidian-vault-size-bar .size-bar-left {
    float: left !important;
    text-align: left !important;
    max-width: 46%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* Pushes text 3px away from the left border line */
    margin-left: 3px !important; 
}

.obsidian-vault-size-bar .size-bar-right {
    float: right !important;
    text-align: right !important;
    max-width: 46%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* Pushes text 3px away from the right border line */
    margin-right: 3px !important; 
}